<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

### There are a myriad of data science tools available to learn in order to grow as a data scientist and further your career. In this notebook I will talk about some of the languages and tools you will need to advance your knowledge in data

### Some of the popular languages that Data Scientist use are:

1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Scikit-learn
3. Apache Spark.

## Data Science Tools

<table>
    <tr>
        <th>
            Tool Name
        </th>
        <td>
            RStudio
        </td>
        <td>
            Jupyter Notebook
        </td>
        <td>
            GitHub
        </td>
    </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

# We will now list some Objectives

<ul>
    <li>list the languages of data science</li>
    <li>list the libraries of data science</li>
    <li>list the tools of data science</li>
</ul>

## Author 
Mason Marcantel